@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

@import "./styles/components/button";
@import "./styles//components/input";
@import "./styles//components/validation";
@import "./styles/layout/input-group";

@import "./styles//components/badge";
@import "./styles//components/avatars";

@import "./styles//components/allert";
@import "./styles/layout/allert-group";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.body {
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  display: none;
}
