@import "../variables";
@import "../mixins";

.btn-confim {
  color: $white;
  background-color: $blue-500;
  @include btn-border($border-width, $blue-700, $border-style);
  @include padding-btn($btn-padding-y, $btn-padding-x);
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $blue-600;
    border: 2px solid $blue-800;
  }
  &:active {
    background-color: $blue-700;
    border: 2px solid $blue-900;
  }
}
