
.btn-danger {
  color: $white;
  background-color: $red-500;
  @include btn-border($border-width, $red-700, $border-style);
  @include padding-btn($btn-padding-y, $btn-padding-x);
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $red-600;
    border: 2px solid $red-800;
  }
  &:active {
    background-color: $red-700;
    border: 2px solid $red-900;
  }
}
