@import "../variables";
@import "../mixins";

.btn-default {
  color: $black;
  background-color: $white;
  @include btn-border($border-width, $border-color, $border-style);
  @include padding-btn($btn-padding-y, $btn-padding-x);
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $gray-50;
    border: 2px solid $gray-400;
  }
  &:active {
    background-color: $gray-100;
    border-radius: $border-radius;
  }
}

.btn-default--small {
  color: $black;
  background-color: $white;
  @include btn-border($border-width, $border-color, $border-style);
  @include padding-btn($btn-padding-y-sm, $btn-padding-x-sm);
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $gray-50;
  }
  &:active {
    background-color: $gray-100;
    border-radius: $border-radius;
  }
}
